# Required
DISCORD_TOKEN=<DISCORD_BOT_TOKEN>
DISCORD_CHANNEL_ID=<DISCORD_CHANNEL_ID>

# Optional (defaults shown)
VALKEY_URL=valkey://localhost:6379/0 # or path to your 
JOB_TTL_SECONDS=7776000
GREENHOUSE_BOARD_URL=https://boards-api.greenhouse.io/v1/boards/<BOARDNAME>/jobs
OLLAMA_BASE_URL=http://localhost:11434/v1 # or path to openAI api compatible OLLAMA MODEL
OLLAMA_MODEL=<YOUR_PREFERRED_OLLAMA_COMPATIBLE_MODEL>
